<div>
    <h1>Registry</h1>
    <p>We have chosen not to register anywhere, as</p>
    <a href="https://coloncancercoalition.org/donate/general-fund/" target="_blank">Colon Cancer Coalition</a>
</div>