<div id="registry">
    <h1>Registry</h1>
    <p>Our love has already brought us so many gifts. Rather than buying us another gift, we ask that you consider making a donation to one of our favorite charities instead!</p>
    <div>
        <a href="https://coloncancercoalition.org/donate/general-fund/" target="_blank"><h2>Colon Cancer Coalition</h2></a>
        <p>Colon cancer is far more common than people realize. This charity helps by supporting those going through and spreading awareness about colon cancer. This charity is incredibly important to me and it would mean the world to me if you considered donating to them.</p>
        <p>Allison</p>
    </div>
    <a href="https://act.sierraclub.org/donate/rc_connect__campaign_designform?id=70131000001DlRtAAK&formcampaignid=70131000001LjZ2AAK&ddi=N16MOTF006" target="_blank"><h2>Sierra Club</h2></a>
    <p>Sierra Club is close to my heart, as they work tirelessly to promote environmental and social justice. I worked with them frequently during my time at St. Scholastica and as someone that loves the outdoors, I absolutely love their cause.</p>
    <p>Owen</p>
</div>