<div class="pt-3">
    <h1>Schedule</h1>
    <hr />
    <div class="schedule-row">
        <p>3:00 PM</p>
        <p>Ceremony</p>
    </div>
    <hr />
    <div class="schedule-row">
        <p>4:00 PM</p>
        <p>Cocktail Hour</p>
    </div>
    <hr />
    <div class="schedule-row">
        <p>5:00 PM</p>
        <p>Dinner</p>
    </div>
    <hr />
    <div class="schedule-row">
        <p>6:00 PM - 10:00 PM</p>
        <p>Dance</p>
    </div>
</div>