<p>We found you!</p>
<EditForm Model="WeddingInvitee" OnValidSubmit="UpdateInviteeAsync">
    <div>
        <label for="accepted">Accept</label>
        <InputCheckbox id="accepted" @bind-Value="WeddingInvitee.Accepted" />
    </div>
    <div>
        <label for="numberOfGuests">Additional Guests</label>
        <InputSelect @bind-Value="WeddingInvitee.GuestsComing">
            @for(int i = 0; i <= WeddingInvitee.GuestsExpected; i++)
            {
                <option value="@i">+@i</option>
            }
        </InputSelect>
    </div>
    <button type="submit">Submit</button>
</EditForm>