@if (ShowDialog)
{
    <div class="modal-container">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" @onclick="@Close">&times;</span>
                <h3>@Title</h3>
            </div>
            <div class="modal-body">
                    <div>@ChildContent</div>
                    @if (ShowOkayButton)
                    {
                        <button class="submit-input" @onclick="Close">Okay</button>
                    }
            </div>
        </div>
    </div>
}
