@if (ShowDialog)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">@Title</h5>
                    <button type="button"
                        class="close"
                        @onclick="@Close"
                        data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>@ChildContent</div>
                    @if (ShowOkayButton)
                    {
                        <div class="w-100 d-flex justify-content-centers">
                            <button class="btn btn-primary bottom-form-button" @onclick="Close">
                                Okay
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
