@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="main-layout">
    <div class="main-layout-heading">
        <h1>Allison & Owen</h1>
        <p>@NavigationManager.Uri</p>
    </div>
    <div>
        <ul class="navigation-list">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/wedding">Wedding</a></li>
            <li><a href="/photos">Photos</a></li>
            <li><a href="/rsvp">RSVP</a></li>
        </ul>
    </div>
    <div class="main-layout-body">
        @Body
    </div>
</div>