@page "/hotels" 


<div class="center-block text-center m-4 container">
    <h3>Hotels</h3>
    <div>
        <p>There are a number of great hotels that are near the venue.</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4 center-block">
            <a href="https://www.wyndhamhotels.com/americinn/mora-minnesota/americinn-lodge-and-suites-mora/overview" target="_blank">
                <img class="img-fluid rounded center-block" src="/images/AmericInnMora.jpg" />
            </a>
            <h4>AmericInn by Wyndham Mora</h4>
            <p>1877 Frontage Rd, Mora, MN 55051</p>
            <a href="https://goo.gl/maps/Aik8HKY7wjGkJWjr8" target="_blank">13.4 miles from venue</a>
        </div>
        <div class="col-sm-6 col-md-4 center-block">
            <a href="https://www.grandstayhospitality.com/find-a-hotel/locations/cambridge/overview" target="_blank">
                <img class="img-fluid rounded center-block" src="/images/GrandstayCambridge.jpg" />
            </a>
            <h4>GrandStay Hotel & Suites Cambridge</h4>
            <p>300 Garfield St S, Cambridge, MN 55008</p>
            <a href="https://goo.gl/maps/FMgtQNCqe2Y88uc29" target="_blank">11.1 miles from venue</a>
        </div>
        <div class="col-sm-6 col-md-4 center-block">
            <a href="https://www.bestwestern.com/en_US/book/hotels-in-isanti/best-western-plus-isanti/propertyCode.24145.html" target="_blank">
                <img class="img-fluid rounded center-block" src="/images/BestWestern.jpg" />
            </a>
            <h4>Best Western Isanti</h4>
            <p>409 Main Street East Isanti, Minnesota 55040</p>
            <a href="https://goo.gl/maps/RkSqYMfc5J6RXY5K7" target="_blank">16.8 miles from venue</a>
        </div>
    </div>
</div>