@page "/hotels" 


<div class="center-block text-center">
    <h3>Hotels</h3>
    <div>
        <p>There are a number of nearby hotels...</p>
    </div>
    <div>
        <img class="img-responsive rounded content-image" src="/images/AmericInnMora.jpg" />
        <h4>AmericInn by Wyndham Mora</h4>
        <p>1877 Frontage Rd, Mora, MN 55051</p>
    </div>
    <div>
        <img class="img-responsive rounded content-image" src="/images/GrandstayCambridge.jpg" />
        <h4>GrandStay Hotel & Suites Cambridge</h4>
        <p>300 Garfield St S, Cambridge, MN 55008</p>
    </div>
</div>