@page "/"

<div class="center-block text-center container">
    <img class="img-fluid rounded center-block" src="images/AllisonOwen1.png"/>
    
    <button class="btn" @onclick="() =>NavigateToRsvpPage()">RSVP</button>

    <AllisonOwenWedding.Compenents.Schedule />
    <AllisonOwenWedding.Compenents.Registry />
</div>