@page "/"

<div class="center-block text-center container">
    <img class="img-fluid rounded center-block header-image" src="images/AllisonOwen1.png"/>
    
    <AllisonOwenWedding.Compenents.Schedule />
    <AllisonOwenWedding.Compenents.Registry />
</div>