@page "/photos"

<div class="center-block m-4 container">
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid rounded center-block" src="/images/AllisonOwen2.jpg" />
        </div>
        <div class="col-sm-6">
            <img class="img-fluid rounded center-block" src="/images/AllisonOwen3.jpg" />
        </div>
        <div class="col-sm-6">
            <img class="img-fluid rounded center-block" src="/images/AllisonOwen4.jpg" />
        </div>
    </div>
</div>