@page "/wedding"

<div class="center-block text-center container">
    <img class="img-responsive rounded header-image" src="images/BrahamEventCenter.jpg" />
    <h3>THE WEDDING</h3>
    <p>Saturday February 19, 2022</p>
    <p>Braham Event Center</p>
    <a href="https://g.page/braham-event-center-braham?share" target="_blank">655 8th St SW, Braham, MN 55006</a>
    <p>Ceremony 3:00 PM</p>
    <p>***</p>
    <p>Both the ceremony and reception will be held at the same location.</p>
    
</div>