@page "/wedding"

<div class="center-block text-center container">
    <h3>Wedding</h3>
    <img class="img-responsive rounded" src="images/BrahamEventCenter.jpg" />
    <strong>Braham Event Center</strong>
    <a href="https://g.page/braham-event-center-braham?share" target="_blank">655 8th St SW, Braham, MN 55006</a>
</div>