@page "/wedding"

<div class="center-block text-center">
    <img class="img-responsive rounded content-image" src="images/BrahamEventCenter.jpg" />
    <h3>Wedding</h3>
    <p>Saturday, Februrary 19, 2022</p>
    <p>Braham Event Center</p>
    <p>655 8th St SW, Braham, MN 55006</p>
</div>