@page "/hotels" 


<h1>Hotels</h1>
<div>
    <p>There are a number of great hotels that are near the venue!</p>
</div>
<div class="hotels">
    <div class="">
        <img class="header-image" src="/images/AmericInnMora.jpg" />
        <a href="https://www.wyndhamhotels.com/americinn/mora-minnesota/americinn-lodge-and-suites-mora/overview" target="_blank">
            <h2>AmericInn by Wyndham Mora</h2>
        </a>
        <p>1877 Frontage Rd, Mora, MN 55051</p>
        <a href="https://goo.gl/maps/Aik8HKY7wjGkJWjr8" target="_blank">13.4 miles from venue</a>
    </div>
    <div class="">
        <img class="header-image" src="/images/GrandstayCambridge.jpg" />
        <a href="https://www.grandstayhospitality.com/find-a-hotel/locations/cambridge/overview" target="_blank">
            <h2>GrandStay Hotel & Suites Cambridge</h2>
        </a>
        <p>300 Garfield St S, Cambridge, MN 55008</p>
        <a href="https://goo.gl/maps/FMgtQNCqe2Y88uc29" target="_blank">11.1 miles from venue</a>
    </div>
    <div class="">
        <img class="header-image" src="/images/BestWestern.jpg" />
        <a href="https://www.bestwestern.com/en_US/book/hotels-in-isanti/best-western-plus-isanti/propertyCode.24145.html" target="_blank">
            <h2>Best Western Isanti</h2>
        </a>
        <p>409 Main Street East Isanti, Minnesota 55040</p>
        <a href="https://goo.gl/maps/LDmSRdVXFSERXrPg7" target="_blank">16.8 miles from venue</a>
    </div>
</div>