@using AllisonOwenWedding.Client.Components
@using AllisonOwenWedding.Models
@page "/rsvp"

<Dialog @ref="InfoDialog" Title="Thanks!" ShowOkayButton="true">
    <p>We've received your reservation!</p>
</Dialog>
@if (WeddingInvitee == null)
{
    <RsvpSearch SetWeddingInvitee="SetWeddingInvitee" />
}
else
{
    <RsvpForm WeddingInvitee="WeddingInvitee" ResetForm="ResetForm" />
}

@code {
    private WeddingInvitee? WeddingInvitee = null;
    private Dialog InfoDialog;

    /// <summary>
    /// Sets the invitee
    /// </summary>
    private void SetWeddingInvitee(WeddingInvitee weddingInvitee)
    {
        WeddingInvitee = weddingInvitee;
        StateHasChanged();
    }

    /// <summary>
    /// Resets the request form
    /// </summary>
    private void ResetForm(bool rsvpReceived)
    {
        WeddingInvitee = null;
        if (rsvpReceived)
        {
            InfoDialog.Show();
        }
        StateHasChanged();
    }
}