<Dialog @ref="ErrorDialog" Title="Whoops!" ShowOkayButton="true">
    <p>Oh shoot, we failed to submit your RSVP! Please try again. If you continue to have problems, let Owen or Allison know your response manually.</p>
</Dialog>
<EditForm class="w-25 rounded p-5 rsvp-form" Model="WeddingInvitee" OnValidSubmit="UpdateInviteeAsync">
    <div class="form-group">
        <div class="form-check">
            <InputCheckbox id="accepted" class="form-check-input" @bind-Value="WeddingInvitee.Accepted" />
            <label for="accepted" class="form-check-label">Accept</label>
        </div>
    </div>
    @if (WeddingInvitee.GuestsExpected > 0)
    {
        <div class="form-group">
            <label for="guests">Additional Guests</label>
            <div>
                <InputSelect id="guests" class="form-control" disabled="@IsGuestInputDisabled" @bind-Value="WeddingInvitee.GuestsComing">
                    @for(int i = 0; i <= WeddingInvitee.GuestsExpected; i++)
                    {
                        <option value="@i">+@i</option>
                    }
                </InputSelect>
            </div>
        </div>
    }
    <div class="form-row justify-content-between mt-4">
        <button class="btn col-md-5" type="submit">Submit</button>
        <button class="btn col-md-5" type="reset" @onclick="async () => await ResetForm.InvokeAsync()">Cancel</button>
    </div>
</EditForm>