<div class="rsvp-center">
    <div style="text-align: center">
        <p>We found you!</p>
    </div>
    <EditForm class="rsvp-form" Model="WeddingInvitee" OnValidSubmit="UpdateInviteeAsync">
        <div>
            <label for="accepted">Accept</label>
            <div class="centered-content">
                <InputCheckbox id="accepted" @bind-Value="WeddingInvitee.Accepted" />
            </div>
        </div>
        <div>
            <label for="numberOfGuests">Additional Guests</label>
            <div class="centered-content">
                <InputSelect disabled="@IsGuestInputDisabled" @bind-Value="WeddingInvitee.GuestsComing">
                    @for(int i = 0; i <= WeddingInvitee.GuestsExpected; i++)
                    {
                        <option value="@i">+@i</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </EditForm>
</div>