<div class="pt-3">
    <h1>Schedule</h1>
    <hr class="col-md-6" />
    <div class="row p-2">
        <h4 class="col-md-6 text-right">3:00 PM</h4>
        <h4 class="col-md-6 text-left">Ceremony</h4>
    </div>
    <hr class="col-md-6"/>
    <div class="row p-2">
        <h4 class="col-md-6 text-right">4:00 PM</h4>
        <h4 class="col-md-6 text-left">Cocktail Hour</h4>
    </div>
    <hr class="col-md-6" />
    <div class="row p-2">
        <h4 class="col-md-6 text-right">5:00 PM</h4>
        <h4 class="col-md-6 text-left">Dinner</h4>
    </div>
    <hr class="col-md-6" />
    <div class="row p-2">
        <h4 class="col-md-6 text-right">6:00 PM - 10:00 PM</h4>
        <h4 class="col-md-6 text-left">Dance</h4>
    </div>
</div>