@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'Great Vibes';
    src: url("../fonts/GreatVibes.ttf") format('truetype');
    font-weight: 900;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffe7ea;
    color: #ff4b60;
    /*line-height: 0.8rem;*/
}

h1 {
    font-family: 'Great Vibes';
}

h1, h2, h3 {
    color: #ff3049;
}

a, .btn-link {
    color: #ff8795;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.navigation-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0.25em 0;
    background-color: #ff4b60;
}

    .navigation-list li {
        list-style-type: none;
    }

    .navigation-list a {
        color: #ffe7ea;
        text-decoration: none;
    }

        .navigation-list a:hover, .navigation-list a:active, .active-link {
            color: white !important;
            text-decoration: underline !important;
        }

.index-main-image {
    width: 60%;
    margin: auto;
}

.content-image {
    width: 30%;
}

.rsvp-form {
    background-color: #ff4b60;
    color: #ffe7ea;
}

    .rsvp-form input, .rsvp-form select {
        background-color: #ffe7ea !important;
        color: black !important;
    }

        .rsvp-form select:disabled {
            background-color: #e5cfd2 !important;
        }

.btn {
    background-color: #ffe7ea !important;
    color: #ff4b60 !important;
}

    .btn:hover {
        background-color: #ffdbdf !important;
    }

.rsvp-container {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}